extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project.project_name}

        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Use an `each` iterator and interpolation to dynamically replace the li tags below with the technologies listed for this project
          li HTML
          li CSS
          li JavaScript

        a.btn-link(href=`${project.live_link}`) Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      img.project-img(src=`${project.image_urls.main}`, alt=`Thumbnail of the landing page of my ${project.project_name} site.`)
      img.project-img(src=`${project.image_urls.secondary}`, alt=`Banner of the functionality of my ${project.project_name} site.`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
