extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project.project_name}

        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in project.technologies
            li #{tech}

        a.btn-link(href=`${project.live_link}`) Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo

    .project-img-box.box

      img.project-img(src=`${project.image_urls.main}`, alt=`Thumbnail of the landing page of my ${project.project_name} site.`)
      img.project-img(src=`${project.image_urls.secondary}`, alt=`Banner of the functionality of my ${project.project_name} site.`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
